In [13]:
import pandas as pd

In [14]:
df = pd.read_csv("Articles.csv")
df

,Article,Date,Heading,NewsType
0,KARACHI: The Sindh government has decided to b...,1/1/2015,sindh govt decides to cut public transport far...,business
1,HONG KONG: Asian markets started 2015 on an up...,1/2/2015,asia stocks up in new year trad,business
2,HONG KONG: Hong Kong shares opened 0.66 perce...,1/5/2015,hong kong stocks open 0.66 percent lower,business
3,HONG KONG: Asian markets tumbled Tuesday follo...,1/6/2015,asian stocks sink euro near nine year,business
4,NEW YORK: US oil prices Monday slipped below $...,1/6/2015,us oil prices slip below 50 a barr,business
...,...,...,...,...
2687,strong>DUBAI: Dubai International Airport and ...,3/25/2017,Laptop ban hits Dubai for 11m weekend traveller,business
2688,"strong>BEIJING: Former Prime Minister, Shaukat...",3/26/2017,Pak China relations not against any third coun...,business
2689,strong>WASHINGTON: Uber has grounded its fleet...,3/26/2017,Uber grounds self driving cars after accid,business
2690,strong>BEIJING: The New Development Bank plans...,3/27/2017,New Development Bank plans joint investments i...,business
2691,strong>KARACHI: Karachi-based technology incub...,3/27/2017,Google powered Startup Weekend energizing prou...,business

In [15]:
df.tail(10)

,Article,Date,Heading,NewsType
2682,strong>BEIJING: Beijing's last large coal-fire...,3/19/2017,Beijing becomes Chinas first city with all cle...,business
2683,strong>WASHINGTON: The World Bank on Sunday an...,3/20/2017,World Bank announces 57 bln in financing for Afri,business
2684,"strong>LONDON: Arcelik, the home appliances ar...",3/21/2017,For Turkish giant Arcelik Pakistan is among fo...,business
2685,strong>RIYADH/DUBAI: Saudi Arabia plans to tig...,3/21/2017,Saudis to tighten curbs on foreign workers in ...,business
2686,strong>BEIJING: A Chinese rail company has won...,3/25/2017,Chinese train manufacturer wins railcar bid in US,business
2687,strong>DUBAI: Dubai International Airport and ...,3/25/2017,Laptop ban hits Dubai for 11m weekend traveller,business
2688,"strong>BEIJING: Former Prime Minister, Shaukat...",3/26/2017,Pak China relations not against any third coun...,business
2689,strong>WASHINGTON: Uber has grounded its fleet...,3/26/2017,Uber grounds self driving cars after accid,business
2690,strong>BEIJING: The New Development Bank plans...,3/27/2017,New Development Bank plans joint investments i...,business
2691,strong>KARACHI: Karachi-based technology incub...,3/27/2017,Google powered Startup Weekend energizing prou...,business

In [16]:
df['Article'] = df['Article'].str.replace(r'strong>', '', regex=True)

In [17]:
df

,Article,Date,Heading,NewsType
0,KARACHI: The Sindh government has decided to b...,1/1/2015,sindh govt decides to cut public transport far...,business
1,HONG KONG: Asian markets started 2015 on an up...,1/2/2015,asia stocks up in new year trad,business
2,HONG KONG: Hong Kong shares opened 0.66 perce...,1/5/2015,hong kong stocks open 0.66 percent lower,business
3,HONG KONG: Asian markets tumbled Tuesday follo...,1/6/2015,asian stocks sink euro near nine year,business
4,NEW YORK: US oil prices Monday slipped below $...,1/6/2015,us oil prices slip below 50 a barr,business
...,...,...,...,...
2687,DUBAI: Dubai International Airport and its fla...,3/25/2017,Laptop ban hits Dubai for 11m weekend traveller,business
2688,"BEIJING: Former Prime Minister, Shaukat Aziz s...",3/26/2017,Pak China relations not against any third coun...,business
2689,WASHINGTON: Uber has grounded its fleet of sel...,3/26/2017,Uber grounds self driving cars after accid,business
2690,BEIJING: The New Development Bank plans to co-...,3/27/2017,New Development Bank plans joint investments i...,business
2691,"KARACHI: Karachi-based technology incubator, T...",3/27/2017,Google powered Startup Weekend energizing prou...,business