In [28]:
import pandas as pd
import spacy
import nltk

nlp = spacy.load("en_core_web_sm")

In [29]:
from nltk.corpus import stopwords
nltk.download('stopwords')

stop_words = set(stopwords.words('english'))

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\KawaiiAtomic\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [30]:
from nltk.stem import PorterStemmer

nlp = spacy.load("en_core_web_sm")
stemmer = PorterStemmer()

In [31]:
df = pd.read_csv("Articles.csv")
df

,Article,Date,Heading,NewsType
0,KARACHI: The Sindh government has decided to b...,1/1/2015,sindh govt decides to cut public transport far...,business
1,HONG KONG: Asian markets started 2015 on an up...,1/2/2015,asia stocks up in new year trad,business
2,HONG KONG: Hong Kong shares opened 0.66 perce...,1/5/2015,hong kong stocks open 0.66 percent lower,business
3,HONG KONG: Asian markets tumbled Tuesday follo...,1/6/2015,asian stocks sink euro near nine year,business
4,NEW YORK: US oil prices Monday slipped below $...,1/6/2015,us oil prices slip below 50 a barr,business
...,...,...,...,...
2687,strong>DUBAI: Dubai International Airport and ...,3/25/2017,Laptop ban hits Dubai for 11m weekend traveller,business
2688,"strong>BEIJING: Former Prime Minister, Shaukat...",3/26/2017,Pak China relations not against any third coun...,business
2689,strong>WASHINGTON: Uber has grounded its fleet...,3/26/2017,Uber grounds self driving cars after accid,business
2690,strong>BEIJING: The New Development Bank plans...,3/27/2017,New Development Bank plans joint investments i...,business
2691,strong>KARACHI: Karachi-based technology incub...,3/27/2017,Google powered Startup Weekend energizing prou...,business

In [32]:
df.tail(10)

,Article,Date,Heading,NewsType
2682,strong>BEIJING: Beijing's last large coal-fire...,3/19/2017,Beijing becomes Chinas first city with all cle...,business
2683,strong>WASHINGTON: The World Bank on Sunday an...,3/20/2017,World Bank announces 57 bln in financing for Afri,business
2684,"strong>LONDON: Arcelik, the home appliances ar...",3/21/2017,For Turkish giant Arcelik Pakistan is among fo...,business
2685,strong>RIYADH/DUBAI: Saudi Arabia plans to tig...,3/21/2017,Saudis to tighten curbs on foreign workers in ...,business
2686,strong>BEIJING: A Chinese rail company has won...,3/25/2017,Chinese train manufacturer wins railcar bid in US,business
2687,strong>DUBAI: Dubai International Airport and ...,3/25/2017,Laptop ban hits Dubai for 11m weekend traveller,business
2688,"strong>BEIJING: Former Prime Minister, Shaukat...",3/26/2017,Pak China relations not against any third coun...,business
2689,strong>WASHINGTON: Uber has grounded its fleet...,3/26/2017,Uber grounds self driving cars after accid,business
2690,strong>BEIJING: The New Development Bank plans...,3/27/2017,New Development Bank plans joint investments i...,business
2691,strong>KARACHI: Karachi-based technology incub...,3/27/2017,Google powered Startup Weekend energizing prou...,business

In [33]:
df['Article'] = df['Article'].str.replace(r'strong>', '', regex=True)

In [34]:
df

,Article,Date,Heading,NewsType
0,KARACHI: The Sindh government has decided to b...,1/1/2015,sindh govt decides to cut public transport far...,business
1,HONG KONG: Asian markets started 2015 on an up...,1/2/2015,asia stocks up in new year trad,business
2,HONG KONG: Hong Kong shares opened 0.66 perce...,1/5/2015,hong kong stocks open 0.66 percent lower,business
3,HONG KONG: Asian markets tumbled Tuesday follo...,1/6/2015,asian stocks sink euro near nine year,business
4,NEW YORK: US oil prices Monday slipped below $...,1/6/2015,us oil prices slip below 50 a barr,business
...,...,...,...,...
2687,DUBAI: Dubai International Airport and its fla...,3/25/2017,Laptop ban hits Dubai for 11m weekend traveller,business
2688,"BEIJING: Former Prime Minister, Shaukat Aziz s...",3/26/2017,Pak China relations not against any third coun...,business
2689,WASHINGTON: Uber has grounded its fleet of sel...,3/26/2017,Uber grounds self driving cars after accid,business
2690,BEIJING: The New Development Bank plans to co-...,3/27/2017,New Development Bank plans joint investments i...,business
2691,"KARACHI: Karachi-based technology incubator, T...",3/27/2017,Google powered Startup Weekend energizing prou...,business

In [35]:
def tokenize(text):
    if pd.isna(text):
        return []
    doc = nlp(text)      
    return [token.text for token in doc if not token.is_punct]

In [36]:
df['Heading_Tokens'] = df['Heading'].apply(tokenize)

In [37]:
df['Article_Tokens'] = df['Article'].apply(tokenize)

In [38]:
df

,Article,Date,Heading,NewsType,Heading_Tokens,Article_Tokens
0,KARACHI: The Sindh government has decided to b...,1/1/2015,sindh govt decides to cut public transport far...,business,"[sindh, govt, decides, to, cut, public, transp...","[KARACHI, The, Sindh, government, has, decided..."
1,HONG KONG: Asian markets started 2015 on an up...,1/2/2015,asia stocks up in new year trad,business,"[asia, stocks, up, in, new, year, trad]","[HONG, KONG, Asian, markets, started, 2015, on..."
2,HONG KONG: Hong Kong shares opened 0.66 perce...,1/5/2015,hong kong stocks open 0.66 percent lower,business,"[hong, kong, stocks, open, 0.66, percent, lower]","[HONG, KONG, , Hong, Kong, shares, opened, 0...."
3,HONG KONG: Asian markets tumbled Tuesday follo...,1/6/2015,asian stocks sink euro near nine year,business,"[asian, stocks, sink, euro, near, nine, year]","[HONG, KONG, Asian, markets, tumbled, Tuesday,..."
4,NEW YORK: US oil prices Monday slipped below $...,1/6/2015,us oil prices slip below 50 a barr,business,"[us, oil, prices, slip, below, 50, a, barr]","[NEW, YORK, US, oil, prices, Monday, slipped, ..."
...,...,...,...,...,...,...
2687,DUBAI: Dubai International Airport and its fla...,3/25/2017,Laptop ban hits Dubai for 11m weekend traveller,business,"[Laptop, ban, hits, Dubai, for, 11, m, weekend...","[DUBAI, Dubai, International, Airport, and, it..."
2688,"BEIJING: Former Prime Minister, Shaukat Aziz s...",3/26/2017,Pak China relations not against any third coun...,business,"[Pak, China, relations, not, against, any, thi...","[BEIJING, Former, Prime, Minister, Shaukat, Az..."
2689,WASHINGTON: Uber has grounded its fleet of sel...,3/26/2017,Uber grounds self driving cars after accid,business,"[Uber, grounds, self, driving, cars, after, ac...","[WASHINGTON, Uber, has, grounded, its, fleet, ..."
2690,BEIJING: The New Development Bank plans to co-...,3/27/2017,New Development Bank plans joint investments i...,business,"[New, Development, Bank, plans, joint, investm...","[BEIJING, The, New, Development, Bank, plans, ..."
2691,"KARACHI: Karachi-based technology incubator, T...",3/27/2017,Google powered Startup Weekend energizing prou...,business,"[Google, powered, Startup, Weekend, energizing...","[KARACHI, Karachi, based, technology, incubato..."

In [39]:
def lowercase_tokens(tokens):
    return [tok.lower() for tok in tokens]

In [40]:
df['Article_Tokens'] = df['Article_Tokens'].apply(lowercase_tokens)

df['Heading_Tokens'] = df['Heading_Tokens'].apply(lowercase_tokens)

In [41]:
df

,Article,Date,Heading,NewsType,Heading_Tokens,Article_Tokens
0,KARACHI: The Sindh government has decided to b...,1/1/2015,sindh govt decides to cut public transport far...,business,"[sindh, govt, decides, to, cut, public, transp...","[karachi, the, sindh, government, has, decided..."
1,HONG KONG: Asian markets started 2015 on an up...,1/2/2015,asia stocks up in new year trad,business,"[asia, stocks, up, in, new, year, trad]","[hong, kong, asian, markets, started, 2015, on..."
2,HONG KONG: Hong Kong shares opened 0.66 perce...,1/5/2015,hong kong stocks open 0.66 percent lower,business,"[hong, kong, stocks, open, 0.66, percent, lower]","[hong, kong, , hong, kong, shares, opened, 0...."
3,HONG KONG: Asian markets tumbled Tuesday follo...,1/6/2015,asian stocks sink euro near nine year,business,"[asian, stocks, sink, euro, near, nine, year]","[hong, kong, asian, markets, tumbled, tuesday,..."
4,NEW YORK: US oil prices Monday slipped below $...,1/6/2015,us oil prices slip below 50 a barr,business,"[us, oil, prices, slip, below, 50, a, barr]","[new, york, us, oil, prices, monday, slipped, ..."
...,...,...,...,...,...,...
2687,DUBAI: Dubai International Airport and its fla...,3/25/2017,Laptop ban hits Dubai for 11m weekend traveller,business,"[laptop, ban, hits, dubai, for, 11, m, weekend...","[dubai, dubai, international, airport, and, it..."
2688,"BEIJING: Former Prime Minister, Shaukat Aziz s...",3/26/2017,Pak China relations not against any third coun...,business,"[pak, china, relations, not, against, any, thi...","[beijing, former, prime, minister, shaukat, az..."
2689,WASHINGTON: Uber has grounded its fleet of sel...,3/26/2017,Uber grounds self driving cars after accid,business,"[uber, grounds, self, driving, cars, after, ac...","[washington, uber, has, grounded, its, fleet, ..."
2690,BEIJING: The New Development Bank plans to co-...,3/27/2017,New Development Bank plans joint investments i...,business,"[new, development, bank, plans, joint, investm...","[beijing, the, new, development, bank, plans, ..."
2691,"KARACHI: Karachi-based technology incubator, T...",3/27/2017,Google powered Startup Weekend energizing prou...,business,"[google, powered, startup, weekend, energizing...","[karachi, karachi, based, technology, incubato..."

In [42]:
def remove_stopwords(tokens):
    return [tok for tok in tokens if tok.lower() not in stop_words]

In [43]:
df['Article_Tokens'] = df['Article_Tokens'].apply(remove_stopwords)
df['Heading_Tokens'] = df['Heading_Tokens'].apply(remove_stopwords)

In [44]:
df

,Article,Date,Heading,NewsType,Heading_Tokens,Article_Tokens
0,KARACHI: The Sindh government has decided to b...,1/1/2015,sindh govt decides to cut public transport far...,business,"[sindh, govt, decides, cut, public, transport,...","[karachi, sindh, government, decided, bring, p..."
1,HONG KONG: Asian markets started 2015 on an up...,1/2/2015,asia stocks up in new year trad,business,"[asia, stocks, new, year, trad]","[hong, kong, asian, markets, started, 2015, up..."
2,HONG KONG: Hong Kong shares opened 0.66 perce...,1/5/2015,hong kong stocks open 0.66 percent lower,business,"[hong, kong, stocks, open, 0.66, percent, lower]","[hong, kong, , hong, kong, shares, opened, 0...."
3,HONG KONG: Asian markets tumbled Tuesday follo...,1/6/2015,asian stocks sink euro near nine year,business,"[asian, stocks, sink, euro, near, nine, year]","[hong, kong, asian, markets, tumbled, tuesday,..."
4,NEW YORK: US oil prices Monday slipped below $...,1/6/2015,us oil prices slip below 50 a barr,business,"[us, oil, prices, slip, 50, barr]","[new, york, us, oil, prices, monday, slipped, ..."
...,...,...,...,...,...,...
2687,DUBAI: Dubai International Airport and its fla...,3/25/2017,Laptop ban hits Dubai for 11m weekend traveller,business,"[laptop, ban, hits, dubai, 11, weekend, travel...","[dubai, dubai, international, airport, flag, c..."
2688,"BEIJING: Former Prime Minister, Shaukat Aziz s...",3/26/2017,Pak China relations not against any third coun...,business,"[pak, china, relations, third, country, shauka...","[beijing, former, prime, minister, shaukat, az..."
2689,WASHINGTON: Uber has grounded its fleet of sel...,3/26/2017,Uber grounds self driving cars after accid,business,"[uber, grounds, self, driving, cars, accid]","[washington, uber, grounded, fleet, self, driv..."
2690,BEIJING: The New Development Bank plans to co-...,3/27/2017,New Development Bank plans joint investments i...,business,"[new, development, bank, plans, joint, investm...","[beijing, new, development, bank, plans, co, f..."
2691,"KARACHI: Karachi-based technology incubator, T...",3/27/2017,Google powered Startup Weekend energizing prou...,business,"[google, powered, startup, weekend, energizing...","[karachi, karachi, based, technology, incubato..."

In [45]:
def lemmatize_and_stem(tokens):
    doc = nlp(" ".join(tokens))   # spaCy processes whole string for accuracy
    processed_tokens = []

    for token in doc:
        lemma = token.lemma_.lower()   # lemmatization
        stemmed = stemmer.stem(lemma)  # stemming
        processed_tokens.append(stemmed)

    return processed_tokens

In [46]:
df['Article_Tokens'] = df['Article_Tokens'].apply(lemmatize_and_stem)
df['Heading_Tokens'] = df['Heading_Tokens'].apply(lemmatize_and_stem)

In [47]:
df

,Article,Date,Heading,NewsType,Heading_Tokens,Article_Tokens
0,KARACHI: The Sindh government has decided to b...,1/1/2015,sindh govt decides to cut public transport far...,business,"[sindh, govt, decid, cut, public, transport, f...","[karachi, sindh, govern, decid, bring, public,..."
1,HONG KONG: Asian markets started 2015 on an up...,1/2/2015,asia stocks up in new year trad,business,"[asia, stock, new, year, trad]","[hong, kong, asian, market, start, 2015, upsw,..."
2,HONG KONG: Hong Kong shares opened 0.66 perce...,1/5/2015,hong kong stocks open 0.66 percent lower,business,"[hong, kong, stock, open, 0.66, percent, lower]","[hong, kong, , hong, kong, share, open, 0.66..."
3,HONG KONG: Asian markets tumbled Tuesday follo...,1/6/2015,asian stocks sink euro near nine year,business,"[asian, stock, sink, euro, near, nine, year]","[hong, kong, asian, market, tumbl, tuesday, fo..."
4,NEW YORK: US oil prices Monday slipped below $...,1/6/2015,us oil prices slip below 50 a barr,business,"[we, oil, price, slip, 50, barr]","[new, york, us, oil, price, monday, slip, $, 5..."
...,...,...,...,...,...,...
2687,DUBAI: Dubai International Airport and its fla...,3/25/2017,Laptop ban hits Dubai for 11m weekend traveller,business,"[laptop, ban, hit, dubai, 11, weekend, travel]","[dubai, dubai, intern, airport, flag, carrier,..."
2688,"BEIJING: Former Prime Minister, Shaukat Aziz s...",3/26/2017,Pak China relations not against any third coun...,business,"[pak, china, relat, third, countri, shaukat, a...","[beij, former, prime, minist, shaukat, aziz, s..."
2689,WASHINGTON: Uber has grounded its fleet of sel...,3/26/2017,Uber grounds self driving cars after accid,business,"[uber, ground, self, drive, car, accid]","[washington, uber, ground, fleet, self, drive,..."
2690,BEIJING: The New Development Bank plans to co-...,3/27/2017,New Development Bank plans joint investments i...,business,"[new, develop, bank, plan, joint, invest, econ...","[beij, new, develop, bank, plan, co, financ, i..."
2691,"KARACHI: Karachi-based technology incubator, T...",3/27/2017,Google powered Startup Weekend energizing prou...,business,"[googl, power, startup, weekend, energ, proud,...","[karachi, karachi, base, technolog, incub, nes..."